		<div>
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'extn_datalabel' , 
		uId : 'extn_button' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('Enterprise')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'lblExchangeTypeDisplay' , 
		uId : 'extn_datalabel' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getBundleString('textYes')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.DisplayExchangeType'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		</div>
